.TripFlights {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid green; */
}

#TripFlights-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 80vh;
  width: 100%;
  /* border: 1px solid; */
}

.TripFlights-title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0.5rem 0;
}

.TripFlights-title-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ea9438;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  /* border: 1px solid; */
}

#TripFlights-noFlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #a3a7a1;
  font-size: 1.5rem;
  min-height: 10em;
}

#TripFlights-icon-span {
  margin-top: 0.5em;
  font-size: 2em;
  color: #a3a7a1;
}

#TripFlights-icon {
  color: #a3a7a1;
}

#TripFlights-add {
  position: absolute;
  right: 1rem;
}

.TripFlightsList-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  overflow: auto;
  width: 100%;
  /* border: 1px solid; */
}

.TripFlightsList-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* border: 1px solid; */
}

.card {
  margin-bottom: 1rem;
  /* border: 1px solid #3f83bc; */
}

.card-content {
  padding: 1rem;
  text-align: left;
}

.TripList-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1px 0 1px 0;
}

/* .TripFlightsList-departure-title {
  margin-left: 3px;
  text-align: left;
  font-size: 15px;
  font-style: italic;
} */

#TripsFlightCard-updated {
  font-size: 13px;
  font-style: italic;
  margin-top: 0.5em;
}

.message {
  font-size: 15px;
  margin-bottom: 1rem;
}

.message-body {
  background-color: #ffffff;
  border: 1px solid #3f83bc;
  padding: 0.5rem;
}

.message-header {
  background-color: #3f83bc;
  font-weight: bold;
}

.Trips-card-content {
  margin-bottom: 1rem;
}

#AddFlight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin: 1rem; */
  max-height: 80vh;
  width: 100%;
  /* border: 1px solid; */
}

.AddFlight-title-bar {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  width: 100%;
}

.AddFlight-title {
  font-size: 1.5rem;
}

.AddFlight-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem 0 1.5rem;
  width: 100%;
}

label {
  text-align: left;
  margin-left: 2px;
}

.AddFlight-add-cancel {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0 0 0;
  width: 100%;
}

#AddFlight-buttons {
  min-width: 48%;
  max-width: 48%;
}

#AddFlight-add {
  background-color: #3f83bc;
  width: 100%;
}

#AddFlight-cancel {
  background-color: #ffffff;
  border: 1px solid #3f83bc;
  color: #3f83bc;
  width: 100%;
}

.TrackFlight {
  display: flex;
  justify-content: center;
  margin: 1.5em 0 0 0;
  width: 100%;
}

#TrackFlight-button {
  width: 100%;
}

#TrackFlight-track {
  background-color: #3f83bc;
  width: 100%;
}

.icon {
  margin-right: 5px;
  color: #3f83bc;
}

#TripList-icon {
  margin-top: 2px;
}

.TripNotes-title {
  text-align: left;
  font-size: 15px;
}

.fas, .fa-plus-circle {
  font-size: 20px;
}
