.tabs, .is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  background: #ffffff;
  width: 100%;
  bottom: 3px;
}

.tabs ul {
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  max-width: 95%;
  bottom: 0.5rem;
}

.tabs a {
  padding: 0.5em;
}
