.FlightDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid green; */
}

.FlightDetails-container {
  display: flex;
  flex-direction: column;
  /* padding: 1em; */
  /* align-items: center; */
  max-height: 80vh;
  width: 100%;
  /* border: 1px solid; */
}

.FlightDetails-title-bar {
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
}

.FlightDetails-title-name {
  display: flex;
  justify-content: center;
  color: #ea9438;
  margin-bottom: 1rem;
  /* border: 1px solid; */
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  /* border: 1px solid; */
}

#FlightDetails-title-h1 {
  font-size: 1.5em;
}

.FlightDetailCard-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  overflow: auto;
  width: 100%;
  /* border: 1px solid; */
}

.card {
  margin: 1em 1.5em 1em 1.5em;
  /* border: 1px solid #3f83bc; */
}

.card-content {
  padding: 1rem;
  text-align: left;
}

.FlightDetail-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FlightDetailCard-departure-title {
  text-align: left;
  margin-left: 3px;
  font-style: italic;
}

.Flight-card-content {
  margin-bottom: 1rem;
}

h6 {
  font-weight: bold;
  font-size: 15px;
}

.FlightDetail-airport {
  font-size: 15px;
}

.Departure-content, .Arrival-content, .Flight-other-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  /* border: 1px solid; */
}

.Departure-content, .Arrival-content {
  margin-bottom: 1em;
}

#FlightDetailCard-flightTimes {
  margin-top: 1em;
  font-size: 13px;
  font-style: italic;
}

.icon {
  margin-right: 5px;
  color: #3f83bc;
}

.card-footer-item {
  color: #3f83bc;
}

#FlightDetailCard-share {
  margin-left: 0.5rem;
}
